{% extends "base.html" %}
{% block title %}Australia{% endblock %}
{% block content %}
<div class="row">
	<p class="h1"><b>Pau Figueras - 02/03/2023</b></p>
    <div class="col-12 col-md-9">
		<p class="h1">Australia és un invent dels governs, en realitat no existeix</p>
    </div>
    <div class="col-6 col-md-3">
        <img class="img-fluid" src="/static/flask_img.png" alt="The Master Sword from The legend of Zelda: Breath of the Wild">
    </div>
</div>
{% endblock %}
